/node_modules

/server/node_modules
/server/dist
/server/.env
/server/coverage
/server/junit.xml

/client/node_modules


# dependencies
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

client/public/\.DS_Store

\.DS_Store

server/.serverless/

server/.env*
client/.env*
server/db-config\.json

/chart-screenshot/node_modules
/chart-screenshot/.serverless/

/csv-generator/node_modules
/csv-generator/.serverless/